


.header {
  overflow: hidden;
  background-color: cadetblue;
  padding: 20px 10px;
}


.header a {
  float: initial;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  
  font-size: 30px;
  font-weight: bold;
}

div div a:hover {
  background-color:blueviolet;
  color: black;
}
div a:hover{
   background-color:unset;

}
.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  text-align: right;
}

main center p{
  font-size: 30px;
  color: green;
  font-weight: bolder;
}
section p{

  font-size: 20px;
  color:brown;
  font-weight: bolder;
  text-align: center;
}
main{
  width: 75%;
  float: right;

}
aside{
  width: 23%;
  background-color: lightgray;
}
.foot{
                float: left;
                width: 27%;
               height: 300px;